.Home

  .About
    margin: 0 auto 3%
    padding: $padding
    min-height: 400px
    width: 95%

    color: $light
    background-color: $primary

    border-bottom: 1px solid $caramel
    box-shadow: $shadow-soft

    .chef-image
      width: 280px
      height: 280px
      border-radius: $border-circle
      background-image: url('./../assets/img/chef.jpg')
      background-size: 110%
      background-repeat: no-repeat
      background-position: top

    .chef-presentation
      flex: 1
      max-width: 30vw
      margin: 4%

    .citation
      padding: $padding
      font-style: italic

    .chef-signature
      text-align: right
