.Home

  .About
    padding: 10%

    .chef-image
      width: 300px
      height: 300px
      border-radius: $border-circle
      background-image: url('./img/chef.jpg')
      background-size: 110%
      background-repeat: no-repeat
      background-position: top

    .chef-presentation
      flex: 1
      max-width: 50%

    .citation
      padding: $padding
      font-style: italic

    .chef-signature
      text-align: right
