$banner-height: 500px

.Banner
  height: $banner-height
  text-align: center
  box-shadow: $shadow-soft
  // background-image: url('./../assets/img/banner.jpg')
  // background-repeat: no-repeat
  // background-position: top
  // background-size: cover
  color: $light
