%one-third
  width: 30%
  p
    margin-bottom: 10px

.Footer
  color: #e6e3dc
  background-color: $primary
  padding: 50px 150px

  border-top: 1px solid $caramel

  align-items: baseline

.Contact, .Location, .Timetable
  @extend %one-third

.Contact

  .contact
    margin-bottom: 20px

  .fab
    margin-right: 20px

.Timetable

  th, td
    padding-right: 20px
