.form-container
  width: 500px
  margin: 50px 0

  .flex-row
    align-items: flex-start

  .form-left-side
    width: 20%
    margin-right: 8%

  .form-right-side
    width: 40%

  .mui-form label
    line-height: 20px
    font-size: 14px
